<!-- /views/partials/nav.ejs -->
<nav>
    <ul>
        <li><a href="/">Accueil</a></li>
        <li><a href="/users/signup">S'inscrire</a></li>
        <li><a href="/users/login">S'authentifier</a></li>
        <li><a href="/users/logout">Se déconnecter</a></li>
    </ul>
</nav>