<!-- /views/index.ejs -->
<!DOCTYPE html>
<html>
    <head>
        <link href="/css/index.css" rel="stylesheet" type="text/css"/>
        <style>
            body {background: rgb(24, 9, 118);}
            p {text-align: center;}
        </style>
    </head>
    <body>
        <%- include('partials/nav') %>
        <h1>Bienvenue sur le meilleur site du monde</h1>
        <p>Vous n'en trouverez pas de meilleur</p>
    </body>
</html>